body{
    background-image: url("../img/fondo.jpg");
    background-repeat: repeat;
    background-size: auto;
}

img{
    border-radius: 15px;
}

#carouselExampleCaptions{
    display: flex;
    width: 80%;
    margin: 0px auto;
}

a{
    text-decoration: none;
}

header{
    background-color: #000000;
    /* filter:invert(20); */
    width: auto;
    height: 5vh;
}

.b{
    color: white;
    font-size: 3vh;
    padding: 20px;
    margin: 20px;
}

.b:hover{
    filter:blur(2px);
}

#titulo{
    color:white;
}
#s{
    background-color: yellow;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color:black;
    opacity: 0.5;
    margin: 5px;
}
#s:hover{
    opacity:unset;
}
img:hover{
    filter:blur(2px);
    
}

h1{
    text-shadow: 1px 1px #000
}

h5{
    text-shadow: 1px 1px #000
}

p{
    text-shadow: 1px 1px #000
}