body {
  background-image: url("../img/fondo.jpg");
  background-repeat: repeat;
  background-size: auto;
}
#main {
  margin-left: 300px;
  color: white;
}

/*---------- prensentacion ----------*/
#cajita {
  position: relative;
  top: 250px;
  width: 200px;
  left: -150px;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #ecde23;
}
#caja {
  width: 500px;
  height: 400px;
  display: block;
  position: relative;
  top: 250px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  background-color: #255e6c5f;
  line-height: 100px;
  border: 2px solid #cb3fc7;
  border-top: 30px solid #cb3fc7;
  box-shadow: inset 0 0 5px #cb3fc7, 0 0 10px #cb3fc7;
  padding: 20px;
}
#caj {
  width: 200px;
  height: 50px;
  background-color: #3c42fb;
  box-shadow: inset 0 0 5px #3c42fb, 0 0 10px #3c42fb;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

/*------------- titulo efecto glitch -------------*/
.glitch {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.5em 0 0 rgba(255, 0, 0, 0.75),
    -0.25em -0.5em 0 rgba(0, 255, 0, 0.75), 0.25em 0.5em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 1s infinite;
}
@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}
.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}
.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(100% 0, 37% 54%, 100% 100%, 47% 100%, 0% 50%, 63% 0);
  transform: translate(-0.025em, -0.0125em);

  opacity: 0.8;
}
.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(43% 0, 100% 50%, 46% 100%, 0% 100%, 67% 50%, 0% 0%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

/*------------- ventana texto -------------*/
#icon {
  display: inline;
  position: relative;
  top: -30px;
  padding: 5px;
  margin: 0;
  font-size: large;
}
#ventana {
  width: 300px;
  height: auto;
  display: block;
  position: relative;
  border-radius: 15px;
  background-color: #7c80eead;
  border: 2px solid #3fadcb;
  border-top: 30px solid #3fadcb;
  box-shadow: inset 0 0 5px #3fadcb, 0 0 10px #3fadcb;
  padding-bottom: 5px;
  margin: 0;
  margin-left: 15px;
}
.parpadea {
  animation-name: parpadeo;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* sobre mi */
#ventanaH {
  width: 500px;
  height: auto;
  top: 150px;
  display: block;
  position: relative;
  border-radius: 15px;
  background-color: #7c80eead;
  border: 2px solid #853fcb;
  border-top: 30px solid #853fcb;
  box-shadow: inset 0 0 5px #853fcb, 0 0 10px #853fcb;
  padding-bottom: 5px;
  margin: 0;
  margin-left: 200px;
  font-size: large;
}

#ventanaI {
  width: 400px;
  height: auto;
  display: block;
  position: relative;
  border-radius: 15px;
  background-color: #7c80eead;
  border: 2px solid #3fadcb;
  border-top: 30px solid #3fadcb;
  box-shadow: inset 0 0 5px #3fadcb, 0 0 10px #3fadcb;
  padding-bottom: 5px;
  margin: 0;
  margin-left: 900px;
  top: -250px;
  font-size: large;
}

#ventanaA {
  width: 400px;
  height: auto;
  display: block;
  position: relative;
  border-radius: 15px;
  background-color: #7c80eead;
  border: 2px solid #cb9c3f;
  border-top: 30px solid #cb9c3f;
  box-shadow: inset 0 0 5px #cb9c3f, 0 0 10px #cb9c3f;
  padding-bottom: 5px;
  margin: 0;
  margin-left: 800px;
  top: -200px;
  font-size: large;
}

/* educacion */
#ventanaE {
  width: 800px;
  height: auto;
  display: block;
  position: relative;
  border-radius: 15px;
  background-color: #7c80eead;
  border: 2px solid #cb9c3f;
  border-top: 30px solid #cb9c3f;
  box-shadow: inset 0 0 5px #cb9c3f, 0 0 10px #cb9c3f;
  padding-bottom: 5px;
  padding: 0;
  margin: 0;
  margin-left: 100px;
  top: 250px;
  font-size: large;
}

#ventanaT {
  width: 400px;
  height: auto;
  display: block;
  position: relative;
  border-radius: 15px;
  background-color: #7c80eead;
  border: 2px solid #853fcb;
  border-top: 30px solid #853fcb;
  box-shadow: inset 0 0 5px #853fcb, 0 0 10px #853fcb;
  padding-bottom: 5px;
  margin: 0;
  margin-left: 950px;
  top: -330px;
  font-size: large;
}

/*------------- header ------------- */
#header {
  background-color: #14152d;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 100;
  font-size: large;
  display: block;
}
.menu {
  display: block;
  margin-top: 250px;
}
ul {
  list-style: none;
  padding: 0;
}
section {
  width: 100%;
  height: 100vh;
}
img {
  border-radius: 15px;
}
img:hover {
  filter: blur(2px);
}

#carousel1 {
  display: flex;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 10px;
}
#carousel2 {
  display: flex;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #00c8ff;
}
.yo {
  display: block;
  color: white;
  font-size: 3vh;
  padding: 10px;
  margin: 10px;
}
/* --------proyectos--------- */
#titulo1 {
  width: 800px;
  height: auto;
  display: block;
  position: relative;
  border-radius: 15px;
  background-color: #7c80eead;
  border: 2px solid #3fadcb;
  border-top: 30px solid #3fadcb;
  box-shadow: inset 0 0 5px #3fadcb, 0 0 10px #3fadcb;
  margin: 0;
  top: 0;
  font-size: large;
}
#titulo2 {
  width: 800px;
  height: auto;
  display: block;
  position: relative;
  border-radius: 15px;
  background-color: #7c80eead;
  border: 2px solid #853fcb;
  border-top: 30px solid #853fcb;
  box-shadow: inset 0 0 5px #853fcb, 0 0 10px #853fcb;
  margin: 0;
  top: 0;
  font-size: large;
}

#footer {
  background-color: #000;
  width: 100%;
}

#contacto {
  position: relative;
  top: 150px;
  width: 1150px;
  height: auto;
  font-size: xx-large;
}

#sol {
  position: fixed;
  width: 450px;
  top: 300px;
  left: 880px;
  z-index: -10;
}
#gato {
  position: fixed;
  top: 450px;
  left: 1500px;
  z-index: -10;
  width: 400px;
  filter: saturate();
}
#estatua {
  position: fixed;
  top: 80px;
  left: 450px;
  z-index: -10;
  width: 200px;
}
#columna {
  position: fixed;
  top: 700px;
  left: 350px;
  z-index: -10;
  width: 350px;
}
#baño {
  position: fixed;
  top: 450px;
  left: 380px;
  z-index: -10;
  width: 300px;
}
#esque2 {
  position: fixed;
  top: 40px;
  left: 1550px;
  z-index: -10;
  width: 300px;
}

#musica {
  width: 350px;
  height: auto;
  display: block;
  position: fixed;
  border-radius: 15px;
  background-color: #7c80eead;
  border: 2px solid #853fcb;
  border-top: 30px solid #853fcb;
  box-shadow: inset 0 0 5px #853fcb, 0 0 10px #853fcb;
  padding-bottom: 5px;
  margin: 0;
  top: 700px;
  margin-left: 1220px;
  font-size: large;
}
#icon-cerrar {
  position: relative;
  top: -27px;
  padding: 0;
  margin: 0;
  font-size: large;
  cursor: pointer;
  width: 10px;
}
#selectTrack {
  color: #8002ff;
  font-size: larger;
  background-color: #00000000;
  font-family: "Courier New", Courier, monospace;
  outline: none;
  height: 100px;
}
select {
  background: transparent;
  border: none;
  padding: 10px;
  width: 80%;
}
option:hover {
  background-color: #00c8ff;
}

#boton {
  display: none;
}

@media (max-width: 420px) {
  body {
    width: 100;
    height: 100;
  }
  #header {
    display: none;
    width: 100%;
    height: 100%;
    font-size: 25px;
    
  }
  .menu{
    margin: 0;
    padding-top: 30%;
  }
  #header li {
    display: block;
  }
  #boton {
    border: 0px;
    display: block;
    left: 45%;
    top: 2%;
    position: fixed;
    z-index: 100;
    background-color: #1d4ea9;
    color: white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    box-shadow: inset 0 0 5px #2b70f0, 0 0 10px #2b70f0;
  }
  .yo {
    font-size: 35px;
  }
  #main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  /* fondo */
  #sol {
    width: 100%;
    margin: 0 auto;
    left: 0px;
    top: 25vh;
  }
  #gato {
    width: 50%;
    margin: 0 auto;
    left: 200px;
    top: 80vh;
  }
  #estatua {
    width: 30%;
    margin: 0 auto;
    left: 0px;
    top: 2vh;
  }
  #columna {
    top: 1350px;
    left: 90px;
    display: none;
  }
  #baño {
    top: 1100px;
    left: 120px;
    display: none;
  }
  #esque2 {
    top: 40px;
    left: 550px;
    display: none;
  }
  /* home */
  #home {
    padding: 10px;
    margin: 0 auto;
  }
  #cajita {
    display: none;
  }
  #caja {
    width: 100%;
    height: auto;
    margin: 10 auto;
    top: 25vh;
    border-top-left-radius: 15px;
  }
  #caj {
    display: none;
  }
  .glitch {
    font-size: 40px;
    font-weight: 700;
  }
  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }
  #ventana {
    display: none;
  }
  h2 {
    font-size: 15px;
  }
  /* sobre mi */
  #sobreMi {
    padding: 10px;
  }
  #ventanaH {
    width: 100%;
    height: auto;
    margin: 10px auto;
    top: 0;
    font-size: 12px;
    padding: 5px;
  }
  #ventanaI {
    width: 100%;
    height: auto;
    margin: 10px auto;
    font-size: 12px;
    top: 0;
    padding: 0px;
  }
  #ventanaA {
    width: 100%;
    height: auto;
    margin: 10px auto;
    font-size: 12px;
    top: 0;
    padding: 0px;
  }

  /* educacion */
  #educacion {
    padding: 10px;
    margin: 0 auto;
  }
  #ventanaE {
    width: 100%;
    height: auto;
    margin: 10px auto;
    top: 0;
    font-size: 12px;
  }
  #ventanaT {
    width: 100%;
    height: auto;
    margin: 10px auto;
    top: 0;
    font-size: 12px;
  }
  li {
    display: inline;
  }

  /* proyectos */
  #proyectos {
    padding: 10px;
    margin: 0 auto;
  }
  #titulo1 {
    width: 100%;
    height: auto;
    margin: 10px auto;
    top: 0;
    font-size: 14px;
  }
  #titulo2 {
    width: 100%;
    height: auto;
    margin: 10px auto;
    top: 0;
    font-size: 14px;
  }
  /* footer */
  #footer {
    margin: 0 auto;
    width: 100%;
  }
  #contacto li {
    display: block;
  }
  #contacto {
    width: auto;
    top: 15%;
    padding: 0;
    font-size: 20px;
  }
  #carousel1 {
    display: flex;
    width: 100%;
    margin: 0px auto;
  }
  #carousel2 {
    display: flex;
    width: 100%;
    margin: 0px auto;
  }
}